<h2>Book Detail</h2>
<table>
  <tr>
    <td><%= image_tag @user.get_profile_image %></td><br />
        <%= link_to @user.name, user_path(@user) %>
    <td><%= link_to @book.title, book_path %></td>
    <td><%= @book.body %></td>
  </tr>
</table>