<div class= "container">
  <div class= "row d-flex justify-content-center">
    <div class= "col-6 mt-3">
      <h1>Welcome to <i class="fa-solid fa-book"></i><b>Bookers!</b></h1>
      <p>Books make your life interseted</p>
      <p>but, most people don't know how to find and choose them.</p>
      <p>That's when let's come to Bookers</p>
      <p>Bookers can help you to solve those problems!</p>
      <p>Just try to register your ID and make your account in Bookers</p>
      <h2><strong>Enjoy Life with <i class="fa-solid fa-book"></i>Bookers!!</strong></h2>
    </div>
  </div>
</div>